a {
  color: #33CCCC;
  text-decoration: none;
  padding: 15px;
}

button {
  width: 80px;
  background: #2c3e50;
  color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.content {
  width: 916px;
  height: auto;
  margin: 0 auto;
  text-align: left;
  background: #ecf0f1;
  border-width: 2px;
  border-style: solid;
  border-color: #33CCCC;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px 20px;
  border-radius: 10px;
}

h1 {
  color: #2C3E50;
  border-bottom: 3px solid #33CCCC;
}

img {
  height: 200px;
  padding: 20px 20px 0 0;
}

input {
  width: 100%;
  margin: 10px 0;
  height: 20px;
}

li {
  list-style-type: none;
}

#message {
  height: 60px;
}

ul {
  padding-inline-start: 0;
}

